Repository MI2-Education/2021L-WUM, pull requests merged in 2021-03, with the labels that each got.

#28 add /adrianna_grudzien/pd_1.*
  Prace_domowe/Praca_domowa1/Grupa4/adrianna_grudzien/forest_fires_dataset.csv
  Prace_domowe/Praca_domowa1/Grupa4/adrianna_grudzien/pd_1.html
  Prace_domowe/Praca_domowa1/Grupa4/adrianna_grudzien/pd_1.ipynb
Labels: Grupa4

#38 Paweł_Fijałkowski_pd1 (mini-pw#7)
  Prace_domowe/Praca_domowa1/Grupa2/Paweł_Fijałkowski/pd1.html
  Prace_domowe/Praca_domowa1/Grupa2/Paweł_Fijałkowski/pd1.ipynb
Labels: Grupa2

#52 [Grupa 2] Praca Domowa 1 Tomek Nocoń
  Prace_domowe/Praca_domowa1/Grupa2/Tomek_Nocoń/WUMPD1.ipynb
  Prace_domowe/Praca_domowa1/Grupa2/Tomek_Nocoń/attributes_forest_fires.csv
Labels: Grupa2

#56 [Grupa 2] Praca domowa 1 Konstanty Kraszewski
  Prace_domowe/Praca_domowa1/Grupa2/Konstanty_Kraszewski/PD1KonstantyKraszewski.ipynb
Labels: Grupa2

#57 [Grupa 2] Agata Kaczmarek hw1
  Prace_domowe/Praca_domowa1/Grupa2/Agata_Kaczmarek/automatic_EDA_output.html
  Prace_domowe/Praca_domowa1/Grupa2/Agata_Kaczmarek/forest_fires_dataset.csv
  Prace_domowe/Praca_domowa1/Grupa2/Agata_Kaczmarek/pd_1_Agata_Kaczmarek.ipynb
Labels: Grupa2

#66 [Grupa 2] Projekt 1 Maria Kaluska Michał Komorowski Marcelina Kurek
  Projekty/Projekt1/Kaluska_Komorowski_Kurek/EDA_final.ipynb
  Projekty/Projekt1/Kaluska_Komorowski_Kurek/requirements.txt
Labels: Grupa2

#68 [Grupa 2] Projekt 1 Karol Degórski i Adrian Kamiński
  Projekty/Projekt1/Degorski_Kaminski/pro1.ipynb
  Projekty/Projekt1/Degorski_Kaminski/requirements.txt
Labels: Grupa2

#70 [Grupa 2] Projekt 1 Jakub Kozieł Tomasz Krupiński Jakub Lis
  Projekty/Projekt1/Koziel_Krupinski_Lis/kamien_milowy_1.ipynb
  Projekty/Projekt1/Koziel_Krupinski_Lis/requirements.txt
Labels: Grupa2

#72 [Grupa 2] Projekt 1 Fijałkowski Krzyziński Nocoń
  Projekty/Projekt1/Fijalkowski_Krzyzinski_Nocon/EDA.ipynb
  Projekty/Projekt1/Fijalkowski_Krzyzinski_Nocon/requirements.txt
Labels: Grupa2

#73 [Grupa 2] Milestone 1 - Kraszewski Konstanty Niewiadowski Paweł
  Projekty/Projekt1/3.1_Kraszewski_Niewiadowski/EDA.ipynb
  Projekty/Projekt1/3.1_Kraszewski_Niewiadowski/congressional_voting_dataset.csv
  Projekty/Projekt1/3.1_Kraszewski_Niewiadowski/pandas_profiling.html
Labels: Grupa2

#102 [Grupa 2] Praca domowa 2 Michał Komorowski
  Prace_domowe/Praca_domowa2/Grupa2/Komorowski_Michal/notebook.html
  Prace_domowe/Praca_domowa2/Grupa2/Komorowski_Michal/notebook.ipynb
Labels: Grupa2

#103 [Grupa 2] Praca domowa 2 Karol Degórski
  Prace_domowe/Praca_domowa2/Karol_Degorski/pd2.ipynb
Labels: Grupa2

#104 [Grupa 2] Praca domowa 2 Adrian Kamiński
  Prace_domowe/Praca_domowa2/Grupa2/Adrian_Kaminski/PD2.html
  Prace_domowe/Praca_domowa2/Grupa2/Adrian_Kaminski/PD2.ipynb
Labels: Grupa2

#106 [Grupa 2] Praca domowa 2 Marcelina Kurek
  Prace_domowe/Praca_domowa2/Marcelina_Kurek/PD2.html
  Prace_domowe/Praca_domowa2/Marcelina_Kurek/PD2.ipynb
Labels: Grupa2

#107 [Grupa 2] Praca Domowa 2 Marciniak Piotr
  Prace_domowe/Praca_domowa2/Piotr Marciniak/notebook.html
  Prace_domowe/Praca_domowa2/Piotr Marciniak/notebook.ipynb
Labels: Grupa2

#109 [Grupa 2] Pd 2 Jakub Lis
  Prace_domowe/Praca_domowa2/Jakub_Lis/pd2.html
  Prace_domowe/Praca_domowa2/Jakub_Lis/pd2.ipynb
Labels: Grupa2

#112 [Grupa 2] Praca domowa 2 Maria Kaluska
  Prace_domowe/Praca_domowa2/KaluskaMaria/Praca domowa 2.ipynb
Labels: Grupa2

#113 [Grupa 2] Praca domowa 2 Paweł Niewiadowski
  Prace_domowe/Praca_domowa2/Grupa2/Pawel_Niewiadowski/pd2.html
  Prace_domowe/Praca_domowa2/Grupa2/Pawel_Niewiadowski/pd2.ipynb
Labels: Grupa2

#114 [Grupa 2] Praca domowa 2 Mateusz Krzyziński
  Prace_domowe/Praca_domowa2/Grupa2/Mateusz_Krzyzinski/PD2_Krzyzinski_Mateusz.html
  Prace_domowe/Praca_domowa2/Grupa2/Mateusz_Krzyzinski/PD2_Krzyzinski_Mateusz.ipynb
  Prace_domowe/Praca_domowa2/Grupa2/Mateusz_Krzyzinski/imputation_full_df.ipynb
Labels: Grupa2

#117 [Grupa 2] Praca domowa 2 Jakub Koziel
  Prace_domowe/Praca_domowa2/Grupa2/Jakub_Koziel/Praca domowa 2.html
  Prace_domowe/Praca_domowa2/Grupa2/Jakub_Koziel/Praca domowa 2.ipynb
Labels: Grupa2

#118 [Grupa 2] Praca domowa 2 Tomasz Krupinski
  Prace_domowe/Praca_domowa2/Tomasz_Krupinski/PD2TomaszKrupinski.html
  Prace_domowe/Praca_domowa2/Tomasz_Krupinski/PD2TomaszKrupinski.ipynb
Labels: Grupa2

#119 [Grupa 2] Praca domowa Tomasz Nocoń
  Prace_domowe/Praca_domowa2/Tomek_Nocoń/WUMPD2.html
  Prace_domowe/Praca_domowa2/Tomek_Nocoń/WUMPD2.ipynb
Labels: Grupa2

#120 [Grupa 2] Praca domowa 2 - Agata Kaczmarek
  Prace_domowe/Praca_domowa1/Grupa2/Agata_Kaczmarek/The-map-of-the-Montesinho-natural-park.png
  Prace_domowe/Praca_domowa2/Agata_Kaczmarek/Kaczmarek_Agata_hw2.html
  Prace_domowe/Praca_domowa2/Agata_Kaczmarek/Kaczmarek_Agata_hw2.ipynb
Labels: Grupa2

#13 [Grupa 3] PD1 Bartosz Siński
  Prace_domowe/Praca_domowa1/Grupa3/Bartosz_Sinski/sinski_pd1.ipynb
  Prace_domowe/Praca_domowa1/Grupa3/Bartosz_Sinski/sinski_pd1.pdf
Labels: Grupa3

#9 [Grupa 3] PD1 Szymon Recko
  Prace_domowe/Praca_domowa1/Grupa3/Szymon Recko/WUM_PD1_Szymon_Recko.ipynb
  Prace_domowe/Praca_domowa1/Grupa3/Szymon Recko/WUM_PD1_Szymon_Recko.pdf
  Prace_domowe/Praca_domowa2/Szymon_Recko/WUM_PD2_Szymon Recko.html
  Prace_domowe/Praca_domowa2/Szymon_Recko/WUM_PD2_Szymon Recko.ipynb
Labels: Grupa3

#5 [Grupa 3] PD1 Mateusz Sperkowski
  Prace_domowe/Praca_domowa1/Grupa3/Mateusz_Sperkowski/WUM_PD1.ipynb
  Prace_domowe/Praca_domowa1/Grupa3/Mateusz_Sperkowski/WUM_PD1.pdf
Labels: Grupa3

#27 [Grupa 3] PD1 Przemysław Olender
  Prace_domowe/Praca_domowa1/Grupa3/Przemyslaw_Olender/PrzemyslawOlenderPD1.ipynb
  Prace_domowe/Praca_domowa1/Grupa3/Przemyslaw_Olender/PrzemyslawOlenderPD1.pdf
Labels: Grupa3

#23 [Grupa 3] PD1 Jan Smoleń
  Prace_domowe/Praca_domowa1/Grupa3/Jan_Smolen/.gitignore
  Prace_domowe/Praca_domowa1/Grupa3/Jan_Smolen/Jan_Smolen_PD1.ipynb
  Prace_domowe/Praca_domowa1/Grupa3/Jan_Smolen/Jan_Smolen_PD1.pdf
Labels: Grupa3
